 .changed {
  margin-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

.subscribe h5 {
  font-size: large;
  margin-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
}
.nav {
  color: white;
}

.impact {
  border-radius: 150px;
  border: 10px solid #40A5E9;
  width: 150px;
  height: 150px;
  margin-bottom: 100px;
}
.work {
  display: flex;
  justify-content: space-around;
  align-items: center;
}   
.statistis {
  margin-left: 0px;
}
  
.impact p {
  text-align: center;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;

} 

.former {
 background-color: #40A5E9;
 color: white;
 margin-top: 7px;
}

.sub a{
  display: block;
  color: white;
  text-decoration: none;
}
.sub {
  margin-top: 80px;
}

.color-btn {
  border: 10px solid  #40A5E9;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  color: black;
}
.btn {
  background-color: white;
  color: #40A5E9;
  margin-left: 24px;
  width: 100px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.head h5 {
  font-size: large;
  margin-left: 26px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
}

.subs {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  background-color: white;
  color: #40A5E9;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  border: none;
}

.about {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
  margin-left: 80px;


}
.mail {
  margin-left: 80px;
}
.last {
  text-align: center;
  background-color: #0972B8;
  height: 60px;
  color: white 
} 

#comment { 
  height: 200px;
}   

